*.iml
.gradle
.idea
/local.properties
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
*.py
/tools

/keystore.properties
keys.env
*.env

# macOS & Python junk
.DS_Store
__pycache__/
